@model BlogicCRM.Models.Advisor

@{
    ViewData["Title"] = "Detail poradce";
}

<h1>Detail poradce</h1>

<div>
    <h4>Osobní údaje</h4>
    <dl class="row">
        <dt class="col-sm-2">Jméno</dt>
        <dd class="col-sm-10">@Model.FirstName</dd>

        <dt class="col-sm-2">Příjmení</dt>
        <dd class="col-sm-10">@Model.LastName</dd>

        <dt class="col-sm-2">E-mail</dt>
        <dd class="col-sm-10">@Model.Email</dd>

        <dt class="col-sm-2">Telefon</dt>
        <dd class="col-sm-10">@Model.Phone</dd>

        <dt class="col-sm-2">Rodné číslo</dt>
        <dd class="col-sm-10">@Model.BirthNumber</dd>

        <dt class="col-sm-2">Věk</dt>
        <dd class="col-sm-10">@Model.Age</dd>
    </dl>
</div>

<div>
    <h4>Smlouvy, kde je správcem</h4>
    @if (Model.ManagedContracts == null || !Model.ManagedContracts.Any())
    {
        <p>Poradce zatím nemá žádné smlouvy.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Evidenční číslo</th>
                    <th>Instituce</th>
                    <th>Klient</th>
                    <th>Datum platnosti</th>
                    <th>Akce</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var c in Model.ManagedContracts)
            {
                <tr>
                    <td>@c.RegistrationNumber</td>
                    <td>@c.Institution</td>
                    <td>@c.Client?.FirstName @c.Client?.LastName</td>
                    <td>@(c.DateValidFrom.ToShortDateString())</td>
                    <td><a class="btn btn-sm btn-info" href="#">Detail smlouvy</a></td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>

<div>
    <h4>Smlouvy, kde je účastníkem</h4>
    @if (Model.ContractAdvisors == null || !Model.ContractAdvisors.Any())
    {
        <p>Poradce zatím nemá žádné smlouvy.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Evidenční číslo</th>
                    <th>Instituce</th>
                    <th>Klient</th>
                    <th>Datum platnosti</th>
                    <th>Akce</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var ca in Model.ContractAdvisors)
            {
                var c = ca.Contract;
                <tr>
                    <td>@c.RegistrationNumber</td>
                    <td>@c.Institution</td>
                    <td>@c.Client?.FirstName @c.Client?.LastName</td>
                    <td>@(c.DateValidFrom.ToShortDateString())</td>
                    <td><a class="btn btn-sm btn-info" href="#">Detail smlouvy</a></td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>

<p>
    <a asp-action="Index" class="btn btn-secondary">Zpět na seznam poradců</a>
</p>
